<div class="carousel-item no-buttons"  id="slide-failure">
	<div class="row justify-content-md-center">
		<div class="container border rounded p-4" style="width: 500px;"> 

			<div class="col text-danger text-center mt-2 p-0 mb-4">
				<i class="fas fa-sad-cry" style="font-size: 7em;"></i>
				<div style="font-size: 2em;"> That is sad.</div>
			</div> 
			<p class="mt-4"> 
				We are sorry, the quality checks failed again, and no more attempts are allowed.
				You wish you better luck in your next tasks
				<br>
			</p>
		</div>
	</div>
</div>